node {
	size: 50px;
	fill-color: grey;
	text-size: 20px;
}

node.important {
	size: 50px;
	fill-color: #C91F37;
	text-size: 20px;
}

node.visited {
	size: 50px;
	fill-color: #F7CA18;
	text-size: 20px;
}

node.source {
	size: 50px;
	fill-color: #407A52;
	text-size: 20px;
}

node.target {
	size: 50px;
	fill-color: #763568;
	text-size: 20px;
}

edge {
	size: 3px;
	text-size: 11px;
	fill-color: #89C4F4;
	text-color: black;
}

edge.residual {
	size: 1px;
	text-size: 11px;
	fill-color: #89C4F4;
	text-color: black;
}

edge.important {
	size: 2px;
	text-size: 15px;
	fill-color: #C91F37;
	text-color: #8F1D21;
}
